body {
    font-size: medium;
}

.search-overlay {
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 2;
    max-height: 80%;
    overflow: auto;
}

/** Ribbon **/
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -4.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 20px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    opacity: 0.6;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/** Footer Panel **/

.footer {
    padding: 10px 30px;
    border-radius: 0;
}

.footer a {
    color: #888;
    font-size: 12px;
    text-decoration: none;
}

.footer-left {
    padding-top: 7px;
    text-align: center;
}

.footer-center {
    text-align: center;
}

.footer-right {
    padding-top: 7px;
    text-align: center;
}

@media (min-width: 800px) {
    .footer-left {
        text-align: left;
    }
    .footer-right {
        text-align: right;
    }
}

/*****************************
 *       Modal Panels        *
 *****************************/
.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 auto 0 0;
    background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(-100%, 0) scale(1);
    transform: translate(-100%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    display: flex;
    height: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-box-align: stretch;
    align-items: stretch;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
    border: 0;
}

.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}

.modal-dialog-slideout .modal-header h5 {
    float: left;
}

.modal.loading .modal-content:before {
    content: 'Please Wait...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}

/*****************************
 *           Maps            *
 *****************************/
.map {
    height: 650px;
}

.map-container {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

/*****************************
 *        Datatables         *
 *****************************/
table.dataTable tbody tr.odd.selected {
 background-color:#acbad4
}

table.dataTable tbody tr.even.selected {
 background-color:#acbad5
}